name: Cron Job

on: [push]
    


jobs:
    builds:
        runs-on: ubuntu-latest


        steps:
            - name: testing cron job
              run: echo "hello from cron job"
           
              