name: Cron Job

on:
    workflow_dispatch: 
    push:
        branches:
            - main
            - master
   # schedule:
    #    - cron: "*/3 * * * *"

jobs:
    builds:
        runs-on: ubuntu-latest


        steps:
            - name: testing cron job
              run: echo "hello from cron job"
           
              
